@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f8fb;
}

/* spinner */

.loader {
  width: 15px;
  height: 15px;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Drawer */

.drawer-animation {
  /* transform: none;
  transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms; */
  opacity: 0;
  transform: translate3d(-50px, 0, 0);

  cursor: pointer;
  transition: 0.25s all ease-in-out;
}

.drawer-animation-toggle {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
