@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f8fb;
}

/* spinner */

.loader {
  width: 15px;
  height: 15px;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Drawer */

.drawer-animation {
  transform: translate3d(-1000px, 0, 0);
  cursor: pointer;
  transition: 0.25s all ease-in-out;
  opacity: 0;
}

.drawer-animation-toggle {
  transform: translate3d(0px, 0, 0);
  cursor: pointer;
  transition: 0.25s all ease-in-out;
  opacity: 1;
}

.opacity {
  opacity: 1;
  transform: translateX(0%);
  background: rgba(0, 0, 0, 0.4984);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1;
}
